/*
** Общие правила для всех
*/
.color-status {

}
/*
** Не обработано
*/
.color-status-1 {
    color: #000;
    background-color: beige;
}
/*
** Авторизовано
*/
.color-status-2 {
    color: #8bc34a;
}
/*
** Не авторизовано
*/
.color-status-3 {
	color: #ff0000;
}
/*
** Реализовано
*/
.color-status-4 {
    color: #3864a7;
}
/*
** Не реализовано
*/
.color-status-5 {
	color: #721c24;
}
/*
** Авторизация прекращена
*/
.color-status-6 {
	color: #b8860b;
}
/*
** Авторизация продлена
*/
.color-status-7 {
	color: #006400;
}
/*
** Авторизация просрочена
*/
.color-status-8 {
	color: #ff6347;
}
/*
** Запрос актуальности
*/
.color-status-9 {
	color: #ffc107;
}
