.full_width{
	width: 100% !important;
}
.default_remove{
	background-color: rgba(255, 0, 0, 0.2);
}
.default_remove:hover{
	background-color: rgba(255, 0, 0, 0.7);
}
.default_remove:active{
	background-color: rgba(255, 0, 0, 0.7);
}
.round_3px{
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
}
.flex-conteiner{
	min-height: 100%;
	width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-conteiner-col{
	height: 100%;
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custom_blur{
	-webkit-filter: blur(6px);
   -moz-filter: blur(6px);
	 -o-filter: blur(6px);
	-ms-filter: blur(6px);
		filter: blur(6px);
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-o-transition: 1.5s;
	transition: 1.5s;
}
.custom_no_blur{
	-webkit-filter: blur(0);
   -moz-filter: blur(0);
	 -o-filter: blur(0);
	-ms-filter: blur(0);
		filter: blur(0);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.text-color-dsmed{
	color:#2b0989!important;
}
