.blocks{
    position: relative;
    padding: 10px 20px 10px 20px !important;
}
.project-container label{
    cursor: pointer;
}
.project-container label *{
    cursor: pointer;
}
.project-title{
}
.project-title > h6{

}
.brone__title{
    margin-bottom: 10px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
}
.brons {
    cursor: pointer;
	border-top: 1px solid lightgray;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.brons *{
    cursor: pointer;
}
.brons span{
    cursor: initial;
}
@-webkit-keyframes color-status-1 {
  0% { color: #2b0e89; }
  50% { color: lightgray; }
  100% { color: #2b0e89; }
}
@keyframes color-status-1 {
  0% { color: #2b0e89; }
  50% { color: lightgray; }
  100% { color: #2b0e89; }
}
