.login-container{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.login-container *{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.login-container form{
    padding: 1rem;
    width: 100%;
    max-width: 330px;
    margin: auto;
}
.dsmed_logo {
    height: 80px;
    background-image: url(../images/logo_ds.png);
    background-repeat: no-repeat;
    background-position: center;
}
.cfepm{
    height: calc(3rem + 2px) !important;
    margin-bottom: 15px;
}
