html, body {
    height: 100%;
    background: #eeeeee;
}
main{
    height: 100%;
}
.brons-container label{
    cursor: pointer;
    display:block !important;
}
.brons-container span{display:inline-block !important;}
.use-select-none{
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}
.main{
    background-color: #eeeeee;
}
.lists-inner {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100vh;
	position: relative;
}
.address-group .address-group-item{
	border: 1px solid #e0e0e0;
	padding: 6px;
	border-radius: 3px;
	position: relative;
}
.project{background-color: white !important;}
.bg-dsmed-light{background-color: #b8a9d7 !important;}
.border-dsmed-light{border-color:  #b8a9d7 !important;}
.text-color-dsmed{color: #330085 !important;}
.btn-service{outline: none !important;}
.qa-container{background-color: #e9ecef;}

.project-add-form{
    padding: 10px;
    background-color: #ececec;
}
.project-add-container{
    padding: 20px;
    background-color: white;
    border: 1px solid lightgrey;
}
.text-color-dsmed{
    color:#2b0989!important;
}

a.nav-link:link, a.nav-link:visited, a.nav-link:active{
	color:white !important;
}
a.nav-link:hover{
	color: lightgrey !important;
}
.dropdown-menu{
	margin: 0.4rem 0 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: rgba(43, 15, 137, 0.7);
}
.search-and-out{
	display: flex;
	flex-direction: row;
}
.search_btn{
	height: 100%;
}
.search_btn:hover i, .search_btn:hover span{
	color: lightgrey !important;
}
@media screen and (max-width: 767px){
	.search_btn{
		padding-left: 5px !important;
	}
}

.validate{
	background-color: #4caf501a !important;
    border: 1px solid #4cae4f4d !important;
	border-radius: 5px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.invalidate{
	background-color: #ff00001a !important;
	border: 1px solid #ff1b1b4d !important;
	border-radius: 5px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.disabled{
	background: rgba(211, 211, 211, 0.5);
    color: rgb(189, 189, 189);
    border: 1px solid rgb(206, 206, 206);
    cursor: initial;
}
/* Custom loader */

.ball-pulse-sync > div {
    background-color: #b39bec !important;
}
.loader-container {
    position: fixed !important;
		top: 0;
    height: 100% !important;
    width: 100% !important;
    display: none;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 100;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.flex-loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    z-index: 100;
}
/* END Custom loader */

/* DEALER */

.dealer-container{
    width: 100%;
    height: 100%;
}

/* Button */

.btn, button.close{
    outline: none !important;
    box-shadow: none !important;
}
.btn-service{
    background-color: #b8a9d7;
    color: white;
}
.btn-service:hover{
	background-color: rgba(43, 14, 137, 1);
    color: white !important;
}
.btn-remove{
	background-color: red;
}
.btn-remove:hover{
	background-color: grey;
}
/* End Button */

/*
Старотовая
*/
#page-home__header{
    padding: 10px;
}
#page-home__header h1{
    text-align: center;
}
#page-home__main{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#phm_left, #phm_center, #phm_right{
}
.phm{
	margin: 10px;
	padding: 10px;
	width: 100%;
	background-color: white;
	border: 1px solid #efefef;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #e6e6e6;
}
.phm__text{
	font-size: 14px;
	padding-bottom: 10px;
}
.phm__tab{
	display: inline-block;
	padding-left: 10px;
}
