@charset "UTF-8";

.icon-plus:before { content: '\2b'; } /* '+' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-stop:before { content: '\25a0'; } /* '■' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-edit:before { content: '\e068'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-arrow-down:before { content: '\e764'; } /* '' */
.icon-part:before { content: '\e793'; } /* '' */
.icon-logout:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-order:before { content: '📄'; } /* '\1f4c4' */
