@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?56247687');
  src: url('../font/fontello.eot?56247687#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?56247687') format('woff2'),
       url('../font/fontello.woff?56247687') format('woff'),
       url('../font/fontello.ttf?56247687') format('truetype'),
       url('../font/fontello.svg?56247687#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?56247687#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus:before { content: '\2b'; } /* '+' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-stop:before { content: '\25a0'; } /* '■' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-edit:before { content: '\e068'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-arrow-down:before { content: '\e764'; } /* '' */
.icon-part:before { content: '\e793'; } /* '' */
.icon-logout:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-order:before { content: '📄'; } /* '\1f4c4' */
